__pycache__/*
templatetags/__pycache__/*
template/__pycache__/*
plugins/*
!plugins/miPlugin.py
!plugins/hello
plugins/__pycache__/*
static/node_modules/
static/py/node_modules/
migrations/__pycache__/*
lib/__pycache__/*
settings.json