<!DOCTYPE html>
{%load static%}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.css'%}">
	<title>{{post.title|safe}}</title>
</head>
<body class="text-center" style="background-color:#333;color:white">
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h1 class="cover-heading">{{post.title|safe}}</h1>
          {%if meta.main_image%}
          <img src="{{BASE_URL}}media/{{meta.main_image}}" style="max-width: 400px;max-height: 400px">
          {%endif%}
         
        </div>
      </header>

      <main role="main" class="inner cover">
        
        <p class="lead">{{post.content|safe}}</p>
      
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
        </div>
      </footer>
    </div>
	

</body>
</html>