#media_modal{
	.preview-container{
		min-height: 150px;
		border:solid 1px #C0C0C0;
	}
	.dragdrop-container {
		display: flex;
		background:#c8dadf;
		outline: 2px dashed #92b0b3;
		outline-offset: -10px;
		min-height: 150px;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	div.remove-container { 
	  text-align: center; 
	}

	div.remove-container a { 
	  color: red; 
	  cursor: pointer; 
	}
	a.submit-button{
	  display: block;
	  margin: auto;
	  text-align: center;
	  width: 200px;
	  padding: 10px;
	  text-transform: uppercase;
	  background-color: #CCC;
	  color: white;
	  font-weight: bold;
	  margin-top: 20px;
	}
	progress{
	 width: 400px;
	 margin: auto;
	 display: block;
	 margin-top: 20px;
	 margin-bottom: 20px;
	}
	.actions .blue-actions{
		display: block;
		color:blue;
	}
}
#install_plugins{
	.dragdrop-container {
		display: flex;
		background:#c8dadf;
		outline: 2px dashed #92b0b3;
		outline-offset: -10px;
		min-height: 150px;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}
#post_toolbar{
	.options{
		text-align: right;
		a{
			margin: 0 5px;
			border:solid 1px lightgray;
			border-radius:2px;
			padding: 2px 5px;
			display: inline-block;
			font-size: 14px;
		}
	}
}
.navbar{
z-index: 100
}
